@model ControlIDMvc.Dtos.Horario.HorarioCreateDto
@{
    ViewData["Title"] = "Create Horario";
}
@section Estilos {
<link href="~/assets/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><span class="text-danger">@ViewData["ErrorConexion"]</span></h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nuevo Horario</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Registro de horario<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Store" method="post" asp-antiforgery="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="nombre">Nombre
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="nombre" name="nombre" class="form-control"
                                                name="nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align"
                                            for="descripcion">Descripcion
                                            <span class="descripcion">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="descripcion" name="descripcion"
                                                class="form-control  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="lunes" value="lunes"
                                                    data-value="lunes" id="lunes" checked />
                                                Lunes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_lunes" value="" name="ion_lunes" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio" id="hora_inicio_lunes" 
                                                    class="form-control hora_inicio" name="hora_inicio_lunes">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_lunes" id="hora_fin_lunes"
                                                    class="form-control hora_fin" name="hora_fin_lunes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="martes" value="martes"
                                                    data-value="martes" checked />
                                                Martes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer "></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_martes" value="" name="ion_martes" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_martes" id="hora_inicio_martes"
                                                    class="form-control hora_inicio" name="hora_inicio_martes">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_martes" id="hora_fin_martes"
                                                    class="form-control hora_fin" name="hora_fin_martes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="miercoles" value="miercoles"
                                                    data-value="miercoles" checked />
                                                Miercoles
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer "></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_miercoles" value="" name="ion_miercoles" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_miercoles"
                                                    id="hora_inicio_miercoles" class="form-control hora_inicio"
                                                    name="hora_inicio_miercoles">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_miercoles" id="hora_fin_miercoles"
                                                    class="form-control hora_fin" name="hora_fin_miercoles">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="jueves" value="jueves"
                                                    data-value="jueves" checked />
                                                Jueves
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_jueves" value="" name="ion_jueves" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_jueves" id="hora_inicio_jueves"
                                                    class="form-control hora_inicio" name="hora_inicio_jueves">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_jueves" id="hora_fin_jueves"
                                                    class="form-control hora_fin" name="hora_fin_jueves">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="viernes" value="viernes"
                                                    data-value="viernes" checked />
                                                Viernes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_viernes" value="" name="ion_viernes_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_viernes"
                                                    id="hora_inicio_viernes" class="form-control hora_inicio"
                                                    name="hora_inicio_viernes">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_viernes" id="hora_fin_viernes"
                                                    class="form-control hora_fin" name="hora_fin_viernes">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="sabado" value="sabado"
                                                    data-value="sabado" checked />
                                                Sabado
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_sabado" value="" name="sabado_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio" id="hora_inicio_sabado"
                                                    class="form-control hora_inicio" name="hora_inicio_sabado">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin" id="hora_fin_sabado"
                                                    class="form-control hora_fin" name="hora_fin_sabado">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" class="check" name="domingo" value="domingo"
                                                    data-value="domingo" checked />
                                                Domingo
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm copiar" type=button>
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="ion_domingo" value="" name="domingo_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_inicio_domingo"
                                                    class="form-control hora_inicio" id="hora_inicio_domingo"
                                                    name="hora_inicio_domingo">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-3 col-sm-3" for="barrio">Fin
                                            </label>
                                            <div class="col-md-9 col-sm-9">
                                                <input type="time" required="hora_fin_domingo"
                                                    class="form-control hora_fin" id="hora_fin_domingo"
                                                    name="hora_fin_domingo">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-3">
                                           <a class="btn btn-primary" asp-controller="Horario" asp-action="Index"
                                            type="button">Cancelar</a>
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script src="~/assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
<script src="~/js/horario/create.js"></script>
<script>
    console.log(moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"));
    function init_IonRangeSlider() {
        $("#ion_lunes").ionRangeSlider({
            type: "double",
            min: +moment($('#hora_inicio_lunes').val()).subtract(24, "hours").format("X"),
            max: +moment($('#hora_fin_lunes').val()).subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            },
            onChange: function (data) {
                console.log('aki')
            }
        });
        $("#ion_martes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#ion_miercoles").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#ion_jueves").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#ion_viernes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#ion_sabado").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#ion_domingo").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
    }
    init_IonRangeSlider();
</script>
<script>
    $(document).on('click', '.hora_inicio', function () {
    });
    $(document).on('click', '.check', function () {
        if ($(this).is(':checked')) {
            $(this).parent().parent().next().next().find("div").find("input").prop("disabled", false);
            $(this).parent().parent().next().next().next().find("div").find("input").prop("disabled", false);
            $(this).val($(this).data('value'));
        }
        else {
            $(this).parent().parent().next().next().find("div").find("input").prop("disabled", true);
            $(this).parent().parent().next().next().next().find("div").find("input").prop("disabled", true);
            $(this).val('');
        }
    });
</script>
}