@model ControlIDMvc.Dtos.Horario.HorarioCreateDto
@{
    ViewData["Title"] = "Create Horario";
}
@section Estilos {
<link href="~/assets/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="~/assets/vendors/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
              <h3><span class="text-danger">@ViewData["ErrorConexion"]</span></h3>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Nuevo Horario</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Registro de horario<small></small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <form asp-action="Store" method="post" asp-antiforgery="true">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align" for="nombre">Nombre
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="nombre" name="nombre" 
                                                class="form-control" name="nombre">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-form-label col-md-3 col-sm-3 label-align"
                                            for="descripcion">Descripcion
                                            <span class="descripcion">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 ">
                                            <input type="text" id="descripcion" name="descripcion"
                                                class="form-control  ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="lunes" id="lunes_dias" checked />
                                                Lunes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="lunes" value="" name="lunes_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="martes" checked/>
                                                Martes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="martes" value="" name="martes_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="miercoles" checked />
                                                Miercoles
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="miercoles" value="" name="miercoles_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="jueves" checked />
                                                Jueves
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="jueves" value="" name="jueves_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="viernes" checked />
                                                Viernes
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="viernes" value="" name="viernes_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="sabado" checked />
                                                Sabado
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="sabado" value="" name="sabado_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row border pt-2">
                                        <div class="col-md-2">
                                            <div class="col">
                                                <input type="checkbox" name="dias[]" value="domingo" checked />
                                                Domingo
                                            </div>
                                            <div class="col mt-2">
                                                <button class="btn btn-success btn-sm">
                                                    <i class="fa fa-arrows-v cursor-pointer"></i> copiar a todos
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="domingo" value="" name="domingo_hora" />
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Inicio
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_inicio" class="form-control"
                                                    name="hora_inicio[]">
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label col-md-2 col-sm-2" for="barrio">Fin
                                            </label>
                                            <div class="col-md-10 col-sm-10">
                                                <input type="time" required="hora_fin" class="form-control"
                                                    name="hora_fin[]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="item form-group">
                                        <div class="col-md-6 col-sm-6 offset-md-3">
                                            <button class="btn btn-primary" type="button">Cancelar</button>
                                            <button class="btn btn-primary" type="reset">Reset</button>
                                            <button type="submit" class="btn btn-success">Guardar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

<script src="~/assets/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>

<script>
    function init_IonRangeSlider() {
        $("#lunes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#martes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#miercoles").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#jueves").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#viernes").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#sabado").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
        $("#domingo").ionRangeSlider({
            type: "double",
            min: +moment('2022-01-01 00:00:00').subtract(24, "hours").format("X"),
            max: +moment('2022-01-01 23:59:59').subtract(24, "hours").format("X"),
            grid: true,
            step: 1,
            force_edges: true,
            prettify: function (num) {
                var m = moment(num, "X");
                return m.format("HH:mm");
            }
        });
    }
</script>
<script>
    $(document).on('click', 'input[type=checkbox]', function () {
        if ($(this).is(':checked')) {
            $(this).parent().parent().next().next().find("div").find("input").prop("disabled", false);
            $(this).parent().parent().next().next().next().find("div").find("input").prop("disabled", false);
        }
        else {
            $(this).parent().parent().next().next().find("div").find("input").prop("disabled", true);
            $(this).parent().parent().next().next().next().find("div").find("input").prop("disabled", true);
        }
    });
</script>
}