@{
    ViewData["Title"] = "Lista Inscripcion";
}

<div class="right_col" role="main">
    <div class="page-title">
        <div class="title_left">
            <h3>Inscripciones</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            @if (ViewData["message"] != null)
            {
                <div class="alert alert-success alert-dismissible " role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                        aria-hidden="true">×</span>
                    </button>
                    @ViewData["message"]
                </div>
            }
            <div class="x_panel">
                <div class="x_title">
                    <h2>Lista de Inscripcion</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <div class="buttons">
                                    <!-- Standard button -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <a class="btn btn-secondary btn-xs" asp-controller="Inscripcion"
                                                asp-action="Create" role="button">Crear Inscripcion <i
                                                    class="fa fa-plus"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <table id="datatable_personas" class="table table-striped table-bordered bulk_action"
                                    style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input type="checkbox" id="check-all">
                                            </th>
                                            <th>Fecha</th>
                                            <th>Cod</th>
                                            <th>CI</th>
                                            <th>Nombre</th>
                                            <th>Paquete</th>
                                            <th>Precio</th>
                                            <th>Dias</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<!-- Datatables -->

<script src="~/assets/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="~/assets/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
<script src="~/assets/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
<script src="~/assets/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
<script src="~/assets/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
<script src="~/assets/vendors/datatables.net-scroller/js/dataTables.scroller.min.js"></script>

<script>
    table = $("#datatable_personas").DataTable({
        // ServerSide Setups
        processing: true,
        serverSide: true,
        // Paging Setups
        paging: true,
        filter: true,
        order: [],
        ajax: {
            url: "@Url.Content("~/inscripcion/data-table")",
            type: "POST",

        },
        columns: [
            {
                name: "id",
                data: "id",
                render: function (data, type, row) {
                    return `
                    <input type="checkbox" class="flat">
                    `;
                }
            },

            {
                name: "fechaCreacion",
                data: "fechaCreacion"
            },
            {
                name: "id",
                data: "id"
            },
            {
                name: "personaCi",
                data: "personaCi"
            },
            {
                name: "personaNombre",
                data: "personaNombre"
            },
            {
                name: "paqueteNombre",
                data: "paqueteNombre"
            },
            {
                name: "paqueteCosto",
                data: "paqueteCosto"
            },
            {
                name: "paqueteDias",
                data: "paqueteDias"
            },
            {
                name: "id",
                data: "id",
                render: function (data, type, row) {
                    return `
                    <a class="btn btn-success btn-xs" href="inscripcion/factura-recibo/${data}" role="button"><i class="fa fa-file-pdf-o" title="Editar"></i></a>
                    <a class="btn btn-success btn-xs" href="inscripcion/edit/${data}" role="button"><i class="fa fa-pencil" title="Ver recibo"></i></a>
                    <button class="btn btn-danger btn-xs delete" data-id="${data}" role="button"><i class="fa fa-trash" title="Eliminar"></i></button>
                    `;
                }
            }
        ]
    });
</script>
<script src="~/js/Inscripcion/delete.js"></script>
}