@{
    ViewData["Title"] = "Lista planes Caja";
}
<div class="right_col" role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>PLAN DE CUENTAS</h3>
                        </div>
                        <div class="title_right">
                            <div class="col-md-5 col-sm-5   form-group pull-right top_search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 col-sm-12 ">
                        <div class="x_panel">
                            <!--<div class="x_title">
                                <h2>Plus Table Design</small></h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li>
                                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" href="#">Settings 1</a>
                                            <a class="dropdown-item" href="#">Settings 2</a>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>-->
                            <div class="x_content">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <form class="form-horizontal form-label-left">
                                                <div class="form-group row ">
                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                    <div class="col-md-2 col-sm-2 ">
                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                    </div>
                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:right">Nombre de la Cuenta</label>
                                                    <div class="col-md-2 col-sm-2 ">
                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                    </div>
                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                    <div class="col-md-2 col-sm-2 ">
                                                        <select class="form-control" style="font-size:small">
                                                            <option>Grupo</option>
                                                            <option>Rubro</option>
                                                            <option>Titulo</option>
                                                            <option>Compuesta</option>
                                                            <option>SubCuenta</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-2">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Crear GRUPO</button>
                                                    </div>
                                                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="myModalLabel">GRUPO</h4>
                                                                    <button type="button" class="close" data-dismiss="modal">
                                                                        <span aria-hidden="true">×</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="form-horizontal form-label-left">
                                                                        <div class="form-group row ">
                                                                            <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                            <div class="col-md-2 col-sm-2 ">
                                                                                <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                            </div>
                                                                            <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                            <div class="col-md-3 col-sm-3 ">
                                                                                <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                            </div>
                                                                            <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                            <div class="col-md-2 col-sm-2 ">
                                                                                <select class="form-control" style="font-size:small">
                                                                                    <option>Grupo</option>
                                                                                    <option>Rubro</option>
                                                                                    <option>Titulo</option>
                                                                                    <option>Compuesta</option>
                                                                                    <option>SubCuenta</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </form>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                    <button type="button" class="btn btn-success">GUARDAR</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="card-box table-responsive">

                                            <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </th>
                                                        <th>Codigo</th>
                                                        <th>Nombre de la Cuenta</th>
                                                        <th>Moneda</th>
                                                        <th>Nivel</th>
                                                        <th>CRUD</th>
                                                        <th>Usuarios</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Activos</td>
                                                        <td></td>
                                                        <td>Grupo</td>
                                                        <td>
                                                            <!-- Large modal -->
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-rubro"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-rubro" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">RUBRO</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            &nbsp;
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-rubro"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-rubro" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">RUBRO</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </td>
                                                        <td>U1 U2 U3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1</td>
                                                        <td>Activo Corriente</td>
                                                        <td></td>
                                                        <td>Rubro</td>
                                                        <td>
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-titulo"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-titulo" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">TITULO</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            &nbsp;
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-titulo"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-titulo" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">TITULO</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>U1 U2 U3</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1 01</td>
                                                        <td>Disponibilidades</td>
                                                        <td></td>
                                                        <td>Titulo</td>
                                                        <td>
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-Compuesta"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-Compuesta" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">COMPUESTA</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1 01</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Disponibilidades</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Titulo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>

                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            &nbsp;
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-Compuesta"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-Compuesta" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">COMPUESTA</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1 01</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Disponibilidades</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Titulo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>$86,000</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                        <th><input type="checkbox" id="check-all"></th>
                                                        </td>
                                                        <td>1 1 01 01</td>
                                                        <td>Billetes y Monedas</td>
                                                        <td></td>
                                                        <td>Compuesta</td>
                                                        <td>
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-SubCuenta"><i style="color:orange" class="glyphicon glyphicon-pencil" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-SubCuenta" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal-dialog modal-lg">
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <h4 class="modal-title" id="myModalLabel">SUB CUENTA</h4>
                                                                            <button type="button" class="close" data-dismiss="modal">
                                                                                <span aria-hidden="true">×</span>
                                                                            </button>
                                                                        </div>
                                                                        <div class="modal-body">

                                                                            <form class="form-horizontal form-label-right">
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1 01</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Disponibilidades</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Titulo</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1 01 01</label>

                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Billetes y Monedas</label>

                                                                                    <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Compuesta</label>

                                                                                </div>
                                                                                <br>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                    </div>
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Grupo</option>
                                                                                            <option>Rubro</option>
                                                                                            <option>Titulo</option>
                                                                                            <option>Compuesta</option>
                                                                                            <option>SubCuenta</option>
                                                                                        </select>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="form-group row ">
                                                                                    <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Moneda</label>
                                                                                    <div class="col-md-2 col-sm-2 ">
                                                                                        <select class="form-control" style="font-size:small">
                                                                                            <option>Bolivianos</option>
                                                                                            <option>Dólares</option>
                                                                                            <option>Euros</option>
                                                                                        </select>
                                                                                    </div>
                                                                                    <label class="control-label col-md-3 col-sm-3 " style="text-align:right">%</label>
                                                                                    <div class="col-md-3 col-sm-3 ">
                                                                                        <input type="text" class="form-control" placeholder="% Input" style="font-size:small">
                                                                                    </div>
                                                                                </div>
                                                                            </form>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                            <button type="button" class="btn btn-success">GUARDAR</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            &nbsp;
                                                            <a class="glyphicon" href="inscripcion/factura-recibo/${data}" role="button" data-toggle="modal" data-target=".modal-edit-SubCuenta"><i style="color:forestgreen" class="glyphicon glyphicon-plus" title="Editar"></i></a>
                                                            <div class="modal fade modal-edit-SubCuenta" tabindex="-1" role="dialog" aria-hidden="true">
                                                                <div class="modal fade modal-edit-Compuesta" tabindex="-1" role="dialog" aria-hidden="true">
                                                                    <div class="modal-dialog modal-lg">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h4 class="modal-title" id="myModalLabel">SUB CUENTA</h4>
                                                                                <button type="button" class="close" data-dismiss="modal">
                                                                                    <span aria-hidden="true">×</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">

                                                                                <form class="form-horizontal form-label-right">
                                                                                    <div class="form-group row ">

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1</label>

                                                                                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo</label>

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Grupo</label>

                                                                                    </div>
                                                                                    <br>
                                                                                    <div class="form-group row ">

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1</label>

                                                                                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Activo Corriente</label>

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Rubro</label>

                                                                                    </div>
                                                                                    <br>
                                                                                    <div class="form-group row ">

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1 01</label>

                                                                                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Disponibilidades</label>

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Titulo</label>

                                                                                    </div>
                                                                                    <br>
                                                                                    <div class="form-group row ">

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:left">1 1 01 01</label>

                                                                                        <label class="control-label col-md-3 col-sm-3 " style="text-align:left">Billetes y Monedas</label>

                                                                                        <label class="control-label col-md-2 col-sm-2 " style="text-align:Center">Compuesta</label>

                                                                                    </div>
                                                                                    <br>
                                                                                    <div class="form-group row ">
                                                                                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Codigo</label>
                                                                                        <div class="col-md-2 col-sm-2 ">
                                                                                            <input type="text" class="form-control" placeholder="Codigo Input" style="font-size:small">
                                                                                        </div>
                                                                                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">Nombre de la Cuenta</label>
                                                                                        <div class="col-md-3 col-sm-3 ">
                                                                                            <input type="text" class="form-control" placeholder="Cuenta Nombre" style="font-size:small">
                                                                                        </div>
                                                                                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Nivel</label>
                                                                                        <div class="col-md-2 col-sm-2 ">
                                                                                            <select class="form-control" style="font-size:small">
                                                                                                <option>Grupo</option>
                                                                                                <option>Rubro</option>
                                                                                                <option>Titulo</option>
                                                                                                <option>Compuesta</option>
                                                                                                <option>SubCuenta</option>
                                                                                            </select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="form-group row ">
                                                                                        <label class="control-label col-md-1 col-sm-1 " style="text-align:right">Moneda</label>
                                                                                        <div class="col-md-2 col-sm-2 ">
                                                                                            <select class="form-control" style="font-size:small">
                                                                                                <option>Bolivianos</option>
                                                                                                <option>Dólares</option>
                                                                                                <option>Euros</option>
                                                                                            </select>
                                                                                        </div>
                                                                                        <label class="control-label col-md-3 col-sm-3 " style="text-align:right">%</label>
                                                                                        <div class="col-md-3 col-sm-3 ">
                                                                                            <input type="text" class="form-control" placeholder="% Input" style="font-size:small">
                                                                                        </div>
                                                                                    </div>
                                                                                </form>

                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-danger" data-dismiss="modal">CERRAR</button>
                                                                                <button type="button" class="btn btn-success">GUARDAR</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>$433,060</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>